body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-family: Arial, sans-serif;
}

.file-info {
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #007bff;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.navbar-nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-left: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 20px 20px;
  background-color: white;
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
}

h1 {
  margin-bottom: 20px;
}

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed #007bff;
  border-radius: 10px;
  padding: 40px;
  width: 400%;
  max-width: 900px;
  height: 400px;
  margin-bottom: 20px;
  margin-right: 750px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s;
}

.upload-container:hover {
  background-color: #f0f8ff;
}

.upload-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.upload-label input[type="file"] {
  display: none;
}

.upload-label .button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.upload-label .button:hover {
  background-color: #0056b3;
}

.resize-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
}

.input-width {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

.buttons {
  display: flex;
  justify-content: center;
  width: 100%;
}

.compress-button {
  padding: 10px 20px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.compress-button:hover {
  background-color: #0056b3;
}

.download-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.download-section .button {
  margin-top: 10px;
}

.another-conversion-button {
  margin-top: 10px;
}

.downloading-message {
  color: green;
  font-size: 14px;
  margin-top: 20px;
}